<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public\css\style.css">
    <script src="https://kit.fontawesome.com/c3d638413c.js" crossorigin="anonymous"></script>
    <link rel="icon" href="public\images\logo.png">
    <title>sayi</title>
</head>
<body>
  <header class="header">
    <div class="headerMain">
        <div class="headerLogoYBuscador">
            <a href="/home">
                <img src="public\images\logo.png" alt="sayi" width="100%">
            </a>
            <div class="headerBuscador">
                <form action="">
                    <input type="search" name="busqueda" placeholder="Buscar productos, marcas..." class="buscador">
                    <div class="botonBuscar">
                        <i class="fas fa-search header-brand-search-icon"></i>
                    </div>
                </form>
            </div>
        </div>
        <div class="headerNavLogin">
          <ul type="none">
            <li>
                <a href="/login">Ingresar 
                  <i class="fa-solid fa-user"></i>
                </a>
            </li>
           </ul>
           <li type="none" style="margin-left: 5%;">
            <a href="javascript:alert('En construcción');" style="color: black;">
                Carrito 
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
           </li>
        </div>
    </div>
    <nav class="headerNav">
        <div class="headerNavItems">
            <ul type="none">
                <li>
                    <a href="/home">HOME</a>
                </li>
                <li>
                    <a href="javascript:alert('En construcción');">PRODUCTOS</a>
                </li>
                <li>
                    <a href="javascript:alert('En construcción');">DESCUENTOS</a>
                </li>
                <li>
                    <a href="javascript:alert('En construcción');">QUIENES SOMOS</a>
                </li>
                <li>
                  <a href="/contact">CONTACTO</a>
              </li>
            </ul>
        </div>
    </nav>
</header>
    <main>
      <a href="https://wa.me/1169790502?text=Me%20gustaría%20saber%20el%20precio%20del%20producto" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
       
           <div class="sliderAuto">
               <ul>
                   <li>
                      <img src="public\images\slideHome.jpg" width="100%" alt="">
                   </li>
                   <li>
                      <img src="public\images\slideHome2.jpg" width="100%" alt="">
                   </li>
               </ul>
           </div>

        <script>
         var slideIndex = 1;
          showDivs(slideIndex);
          
          function plusDivs(n) {
            showDivs(slideIndex += n);
          }
          
          function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";  
            }
            x[slideIndex-1].style.display = "block";  
          }
        </script>

        


        <h2 class="titulos">Novedades</h2>

        <div class="novedades">
          <div class="gallery">
            <a target="" href="">
              <img src="public\images\Granola-Cashem.jpg" alt="Cinque Terre" width="60%" height="40%">
            </a>
            <div class="desc">
              <h3>
                  Granola
              </h3>
              <p>
                assssssssssssssssssssssssddddddddddddsdddddddddjpofgsjdpfogdgspokdgfs´pkfd´pdlksf´sdfdddddddddddddddddddddddddsssssssss
              </p>
            </div>
           </div>
          
          <div class="gallery">
            <a target="" href="">
              <img src="public\images\almendras.jpg" alt="Forest" width="60%" height="40%">
            </a>
            <div class="desc">Descripcionn</div>
          </div>
          
          <div class="gallery">
            <a target="" href="">
              <img src="public\images\girasol.jpg" alt="Northern Lights" width="60%" height="40%">
            </a>
            <div class="desc">Descripcionn</div>
          </div>
          
          <div class="gallery">
            <a target="" href="">
              <img src="public\images\mantequillademani.jpg" alt="Mountains" width="60%" height="40%">
            </a>
            <div class="desc">Descripcionn</div>
          </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="footerContenido">
              <p>2022 © SAYI | Todos los derechos reservados | Creado por Grupo 4</p>
            </div>
        </div>
    </footer>
</body>
</html>