<%- include("./partials/head.ejs")%>
<a href="https://wa.me/1169790502?text=Me%20gustaría%20saber%20el%20precio%20del%20producto" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
<body>
    <header class="header">
        <div class="headerMain">
            <div class="headerLogoYBuscador">
                <a href="/home">
                    <img src="\images\logo.png" alt="sayi" width="100%">
                </a>
                <div class="headerBuscador">
                    <form action="">
                        <input type="search" name="busqueda" placeholder="Buscar productos, marcas..." class="buscador">
                        <div class="botonBuscar">
                            <i class="fas fa-search header-brand-search-icon"></i>
                        </div>
                    </form>
                </div>
            </div>
            <div class="headerNavLogin">
              <ul type="none">
                <li>
                    <a href="/login">ACCEDER 
                      <i class="fa-solid fa-user"></i>
                    </a>
                </li>
               </ul>
               <li type="none" style="margin-left: 5%;">
                <a href="javascript:alert('En construcción');" style="color: black;">
                    CARRITO 
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
               </li>
            </div>
        </div>
        <nav class="headerNav">
            <div class="headerNavItems">
                <ul type="none">
                    <li>
                        <a href="/home">HOME</a>
                    </li>
                    <li>
                        <a href="javascript:alert('En construcción');">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="/descuentos">DESCUENTOS</a>
                    </li>
                    <li>
                        <a href="/aboutUs">QUIENES SOMOS</a>
                    </li>
                    <li>
                      <a href="/contact">CONTACTO</a>
                  </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
            <section class="sectionAboutUs">
                <div class="contenido"  style="width: 70%;">
                        <h1>
                            SAYI ES CONSCIENCIA
                        </h1>
                    <div class="contenido" style=" background-color: rgb(224, 224, 224); border-radius: 10px; border: 20px rgb(224, 224, 224) solid;">
                        <p>
                            SAYI es un espacio consciente que integra una tienda con gran variedad de productos y servicios necesarios para llevar a cabo un estilo de vida saludable y sustentable, equilibrando el bienestar de las personas y el planeta.
                        </p>
                    </div>
                </div>

                <div class="contenido">
                    <img src="/images/lechuga.jpg" alt="" style="border-radius: 10px; width: 100%;" >
                </div>
            </section>
    </main>

    <%- include("./partials/footer.ejs")%>
</body>
</html>