<%- include("./partials/head.ejs")%>
<body>
    <form class="formulario" action="/adminAddProduct" enctype="multipart/form-data" method="POST">
    
        <h1>Agregar producto</h1>
    
         <div class="contenedor">
            <div class="input-contenedor">
                <div class="iconAdmin">
                <i class="fa-solid fa-pencil"></i>
                 <input type="text" placeholder="Nombre" name="nameProduct">
                </div>
            </div>

            <div class="input-contenedor">
                <div class="iconAdmin">
                <i class="fa-solid fa-file-signature"></i>
                <input type="text" placeholder="Descripcion" name="detailProduct">
                </div>
           </div>

           <div class="input-contenedor">
                <div class="iconAdmin">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <input type="number" min="0" placeholder="Precio" name="priceProduct">
                </div>
            </div>

            <div class="input-contenedor">
                <div class="iconAdmin">
                     <i class="fa-solid fa-image"></i>
                     <input type="file" placeholder="Imagen" name="imageProduct">
                </div>
            </div>

            <div class="input-contenedor">
                <div class="iconAdmin">
                     <p>Producto en descuento</p>
                     <input type="checkbox">
                </div>
                
            </div>
             

             <input type="submit" value="Cargar" class="button">
             <p style="margin-top: 15px;"><a class="link" href="/adminProducts">Cancelar</a></p>
         </div>
    </form>

        <%- include("./partials/footer.ejs")%>
</body>
</html>