<%- include("./partials/head.ejs")%>
<body>
    <form class="formulario">
    
        <h1 style="margin-bottom: 15px;">Productos</h1>
             
        <a href="/adminAddProduct"><input type="button" value="Nuevo" class="button" style="margin-bottom: 10px;"></a>
        <a href="/adminModiProducts"><input type="button" value="Modificar" class="button" style="margin-bottom: 10px;"></a>
        <a href="/adminDeleteProducts"><input type="button" value="Eliminar" class="button" style="margin-bottom: 10px;"></a>
        <p style="margin-top: 15px; margin-bottom: 15px;"><a class="link" href="/admin">Volver atras</a></p>

    </form>
    <%- include("./partials/footer.ejs")%>
</body>
</html>