<%- include("./partials/head.ejs")%>
<body>
    <header class="header">
        <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
            <a href="/home">
                <img src="\images\logo.png" alt="sayi" width="70%">
            </a>
            <a href="/admin" style="color: black;">
                <h4 style="margin-top: 17px;">PANEL DE ADMINISTRADOR</h4>
            </a>
        </div>
    </header>


    <form class="formulario" style="text-align: center;">
    
        <h1 style="margin-bottom: 15px;">Panel de control</h1>
             
        <a href="/adminProducts"><input type="button" href="/adminProducts" value="Productos" class="button" style="margin-bottom: 10px; width: 95%;"></a>
        <a href="/users2"><input type="button" value="Usuarios" class="button" style="margin-bottom: 10px; width: 95%;"></a>
        <a href="/adminEstadisticas"><input type="button" value="Estadisticas" class="button" style="margin-bottom: 10px; width: 95%;"></a>
        <p style="margin-top: 15px; margin-bottom: 15px;"><a class="link" href="/home">Salir</a></p>

    </form>

<%- include("./partials/footer.ejs")%>
</body>
</html>