<%- include("./partials/head.ejs")%>
<body>
    <header class="header">
        <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
            <a href="/home">
                <img src="\images\logo.png" alt="sayi" width="70%">
            </a>
            <a href="/admin">
                <h4 style="margin-top: 17px;">PANEL DE ADMINISTRADOR</h4>
            </a>
        </div>
    </header> 


<main>
    <br>
    <b style="height: 2px; background-color: rgb(196, 196, 196); display: block; margin-bottom: 10px;"></b>
    <form class="formulario" action="/addProduct" method="POST" enctype="multipart/form-data" style="text-align: center;">
    
        <h1>Agregar producto</h1>
    
         <div class="contenedor">
            <div class="input-contenedor">
                <div class="iconAdmin">
                <i class="fa-solid fa-pencil"></i>
                 <input type="text" placeholder="Nombre" name="nombre" id="nombre" required>
                </div>
            </div>

            <div class="input-contenedor">
                <div class="iconAdmin">
                <i class="fa-solid fa-file-signature"></i>
                <input type="text" placeholder="Descripcion" name="descripcion" id="descripcion" required>
                </div>
           </div>

           <div class="input-contenedor">
                <div class="iconAdmin">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <input style="margin-left: 5px;" type="number" min="0" placeholder="Precio" name="precio" id="precio" required>
                </div>
            </div>

            <div class="input-contenedor">
                <div class="iconAdmin">
                    <i class="fa-solid fa-arrow-up-wide-short"></i>
                    <input type="number" min="0" placeholder="Cantidad de stock" name="stock" id="stock" required>
                </div>
            </div>

            
            <div class="input-contenedor">
                <div class="iconAdmin" style="display: flex; justify-content: flex-start; margin-left: 3%; height: 40px;">
                     
                     <input placeholder="producto" type="checkbox" name="descuento" id="descuento" style="width: 20px; margin-right: 2.5%;">
                     <p style="margin-top: 8px; font-size: 20px; color: rgb(132, 132, 132);">Producto en descuento</p>
                </div>
            </div>

            <div class="input-contenedor">
                <div class="iconAdmin">
                    <i class="fa-solid fa-bars"></i>
                    <input type="text" placeholder="Categoria" name="categoria" id="categoria" required>
                </div>
            </div>


            <div class="input-contenedor">
                <div class="iconAdmin">
                     <i class="fa-solid fa-image"></i>
                     <input type="file" placeholder="Imagen" name="img" id="img">
                </div>
            </div>

             <input type="submit" value="Cargar" class="button">

             <p style="margin-top: 15px;"><a class="link" href="/adminProducts">Cancelar</a></p>
         </div>
    </form>
    <b style="height: 2px; background-color: rgb(196, 196, 196); display: block; margin-bottom: 10px;"></b>
</main>
        <%- include("./partials/footer.ejs")%>
</body>
</html>