<%- include("./partials/head.ejs")%>
<body>
    <form class="formulario">
    
        <h1 style="margin-bottom: 15px;">Panel de control</h1>
             
        <a href="/adminProducts"><input type="button" href="/adminProducts" value="Productos" class="button" style="margin-bottom: 10px;"></a>
        <a href="/users"><input type="button" value="Usuarios" class="button" style="margin-bottom: 10px;"></a>
        <a href="/adminEstadisticas"><input type="button" value="Estadisticas" class="button" style="margin-bottom: 10px;"></a>
        <p style="margin-top: 15px; margin-bottom: 15px;"><a class="link" href="/home">Salir</a></p>

    </form>

<%- include("./partials/footer.ejs")%>
</body>
</html>