<%- include("./partials/head.ejs")%>
<body>
    <form class="formulario">
    
        <h1 style="margin-bottom: 15px;">Todos los usuarios</h1>
             
        <p style="margin-top: 15px; margin-bottom: 15px;"><a class="link" href="/admin">Volver atras</a></p>

    </form>
    <%- include("./partials/footer.ejs")%>
</body>
</html>