<%- include("./partials/head.ejs")%>
<body>
    <form class="formulario">
    
        <h1 style="margin-bottom: 15px;">Modificar productos</h1>
             
        <a href=""><input type="button" value="Todos los productos" class="button" style="margin-bottom: 10px;"></a>

        <p style="margin-top: 15px; margin-bottom: 15px;"><a class="link" href="/adminProducts">Volver atras</a></p>

    </form>
    <%- include("./partials/footer.ejs")%>
</body>
</html>