<%- include("./partials/head.ejs")%>
<a href="https://wa.me/1169790502?text=Me%20gustaría%20saber%20el%20precio%20del%20producto" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
<body>
    <header class="header">
        <div class="headerMain">
            <div class="headerLogoYBuscador">
                <a href="/home">
                    <img src="\images\logo.png" alt="sayi" width="100%">
                </a>
                <div class="headerBuscador">
                    <form action="">
                        <input type="search" name="busqueda" placeholder="Buscar productos, marcas..." class="buscador">
                        <div class="botonBuscar">
                            <i class="fas fa-search header-brand-search-icon"></i>
                        </div>
                    </form>
                </div>
            </div>
            <div class="headerNavLogin">
                <ul type="none">
                  <li>
                      <a href="/login">ACCEDER 
                        <i class="fa-solid fa-user"></i>
                      </a>
                  </li>
                 </ul>
                 <li type="none" style="margin-left: 5%;">
                  <a href="javascript:alert('En construcción');" style="color: black;">
                      CARRITO 
                      <i class="fa-solid fa-cart-shopping"></i>
                  </a>
                 </li>
              </div>
        </div>
        <nav class="headerNav">
            <div class="headerNavItems">
                <ul type="none" style="border-top: 1px solid gray;">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="javascript:alert('En construcción');">Productos</a>
                    </li>
                    <li>
                        <a href="/descuentos">Promociones</a>
                    </li>
                    <li>
                        <a href="/aboutUs">Nosotros</a>
                    </li>
                    <li>
                      <a href="/contact">Contacto</a>
                  </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>

        <form class="formulario" action="/addContact" method="POST">
    
            <h1>Envianos tu mensaje</h1>
        
             <div class="contenedor">
                <div class="input-contenedor">
                    <i class="fas fa-user icon"></i>
                     <input type="text" placeholder="Nombre Completo" name="name" id="name" required>
                </div>
                 
                <div class="input-contenedor">
                    <i class="fas fa-envelope icon"></i>
                    <input type="text" placeholder="Correo Electronico" name="email" id="email" required>
                </div>
                 
                <div class="input-contenedor">
                    <i class="fa-solid fa-pencil" style="color: gray; margin-left: 20px;"></i>
                    <input type="text" placeholder="Asunto" name="topic" id="topic" style="margin-left: 20px;">
                </div>

                <div class="input-contenedor">
                    <textarea name="your-message" name="text" id="text" placeholder="Tu mensaje..." style="resize: none;" cols="60" rows="9" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" required></textarea>
                </div>

                 <input type="submit" value="Enviar" class="button">
                 <p style="font-size: small; margin: 2%;">Envianos tu mensaje y nos pondremos en contacto con vos a la brevedad.</p>
             </div>
            </form>
    </main>

    <%- include("./partials/footer.ejs")%>
</body>
</html>