<%- include("./partials/head.ejs")%>
<body>
  <header class="header">
    <div class="headerMain">
        <div class="headerLogoYBuscador">
            <a href="/home">
                <img src="\images\logo.png" alt="sayi" width="100%">
            </a>
            <div class="headerBuscador">
                <form action="">
                    <input type="search" name="busqueda" placeholder="Buscar productos, marcas..." class="buscador">
                    <div class="botonBuscar">
                        <i class="fas fa-search header-brand-search-icon"></i>
                    </div>
                </form>
            </div>
        </div>
        <div class="headerNavLogin">
          <ul type="none">
            <li>
                <a href="/login">ACCEDER 
                  <i class="fa-solid fa-user"></i>
                </a>
            </li>
           </ul>
           <li type="none" style="margin-left: 5%;">
            <a href="javascript:alert('En construcción');" style="color: black;">
                CARRITO 
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
           </li>
        </div>
    </div>
    <nav class="headerNav">
        <div class="headerNavItems">
            <ul type="none">
                <li>
                    <a href="/home">HOME</a>
                </li>
                <li>
                    <a href="javascript:alert('En construcción');">PRODUCTOS</a>
                </li>
                <li>
                    <a href="javascript:alert('En construcción');">DESCUENTOS</a>
                </li>
                <li>
                    <a href="/aboutUs">QUIENES SOMOS</a>
                </li>
                <li>
                  <a href="/contact">CONTACTO</a>
              </li>
            </ul>
        </div>
    </nav>
</header>
    <main>
    
           <div class="sliderAuto">
               <ul>
                   <li>
                      <img src="\images\slideHome.jpg" width="100%" alt="">
                   </li>
                   <li>
                      <img src="\images\slideHome2.jpg" width="100%" alt="">
                   </li>
               </ul>
           </div>

        <script>
         var slideIndex = 1;
          showDivs(slideIndex);
          
          function plusDivs(n) {
            showDivs(slideIndex += n);
          }
          
          function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";  
            }
            x[slideIndex-1].style.display = "block";  
          }
        </script>

        

        <br>
        <h2 class="titulos">Novedades</h2>

        <div class="novedades">
          <div class="gallery">
            <a target="" href="/product">
              <img src="\images\Granola-Cashem.jpg" alt="Cinque Terre" width="60%" height="40%">
            </a>
            <div class="desc">
              <h3>
                  Granola
              </h3>
              <p>
                assssssssssssssssssssssssddddddddddddsdddddddddjpofgsjdpfogdgspokdgfs´pkfd´pdlksf´sdfdddddddddddddddddddddddddsssssssss
              </p>
            </div>
            <div style="width: 100%;">
              <a href="/product"><input type="button" value="Añadir al carrito" class="button"></a>
            </div>
          </div>

          <div class="gallery">
            <a target="" href="/product">
              <img src="\images\almendras.jpg" alt="Cinque Terre" width="60%" height="40%">
            </a>
            <div class="desc">
              <h3>
                  Granola
              </h3>
              <p>
                assssssssssssssssssssssssddddddddddddsdddddddddjpofgsjdpfogdgspokdgfs´pkfd´pdlksf´sdfdddddddddddddddddddddddddsssssssss
              </p>
            </div>
            <div style="width: 100%;">
              <a href="/product"><input type="submit" value="Añadir al carrito" class="button"></a>
            </div>
          </div>

          <div class="gallery">
            <a target="" href="/product">
              <img src="\images\girasol.jpg" alt="Cinque Terre" width="60%" height="40%">
            </a>
            <div class="desc">
              <h3>
                  Granola
              </h3>
              <p>
                assssssssssssssssssssssssddddddddddddsdddddddddjpofgsjdpfogdgspokdgfs´pkfd´pdlksf´sdfdddddddddddddddddddddddddsssssssss
              </p>
            </div>
            <div style="width: 100%;">
              <a href="/product"><input type="submit" value="Añadir al carrito" class="button"></a>
            </div>
          </div>

          <div class="gallery">
            <a target="" href="/product">
              <img src="\images\mantequillademani.jpg" alt="Cinque Terre" width="60%" height="40%">
            </a>
            <div class="desc">
              <h3>
                  Granola
              </h3>
              <p>
                assssssssssssssssssssssssddddddddddddsdddddddddjpofgsjdpfogdgspokdgfs´pkfd´pdlksf´sdfdddddddddddddddddddddddddsssssssss
              </p>
            </div>
            <div style="width: 100%;">
              <a href="/product"><input type="submit" value="Añadir al carrito" class="button"></a>
            </div>
          </div>
          
          <div class="gallery">
            <a target="" href="/product">
              <img src="\images\mantequillademani.jpg" alt="Cinque Terre" width="60%" height="40%">
            </a>
            <div class="desc">
              <h3>
                  Granola
              </h3>
              <p>
                assssssssssssssssssssssssddddddddddddsdddddddddjpofgsjdpfogdgspokdgfs´pkfd´pdlksf´sdfdddddddddddddddddddddddddsssssssss
              </p>
            </div>
            <div style="width: 100%;">
              <a href="/product"><input type="submit" value="Añadir al carrito" class="button"></a>
            </div>
          </div>

          <div class="gallery">
            <a target="" href="/product">
              <img src="\images\mantequillademani.jpg" alt="Cinque Terre" width="60%" height="40%">
            </a>
            <div class="desc">
              <h3>
                  Granola
              </h3>
              <p>
                assssssssssssssssssssssssddddddddddddsdddddddddjpofgsjdpfogdgspokdgfs´pkfd´pdlksf´sdfdddddddddddddddddddddddddsssssssss
              </p>
            </div>
            <div style="width: 100%;">
              <a href="/product"><input type="submit" value="Añadir al carrito" class="button"></a>
            </div>
          </div>

          <div class="gallery">
            <a target="" href="/product">
              <img src="\images\mantequillademani.jpg" alt="Cinque Terre" width="60%" height="40%">
            </a>
            <div class="desc">
              <h3>
                  Granola
              </h3>
              <p>
                assssssssssssssssssssssssddddddddddddsdddddddddjpofgsjdpfogdgspokdgfspkfdpdlksfsdfdddddddddddddddddddddddddsssssssss
              </p>
            </div>
            <div style="width: 100%;">
              <a href="/product"><input type="submit" value="Añadir al carrito" class="button"></a>
            </div>
          </div>

          <div class="gallery">
            <a target="" href="/product">
              <img src="\images\mantequillademani.jpg" alt="Cinque Terre" width="60%" height="40%">
            </a>
            <div class="desc">
              <h3>
                  Granola
              </h3>
              <p>
                assssssssssssssssssssssssddddddddddddsdddddddddjpofgsjdpfogdgspokdgfs´pkfd´pdlksf´sdfdddddddddddddddddddddddddsssssssss
              </p>
            </div>
            <div style="width: 100%;">
              <a href="/product"><input type="submit" value="Añadir al carrito" class="button"></a>
            </div>
          </div>

        </div>
    </main>
    <%- include("./partials/footer.ejs")%>
</body>
</html>