<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\intro.css">
    <script src="https://kit.fontawesome.com/c3d638413c.js" crossorigin="anonymous"></script>
    <link rel="icon" href="\images\logo.png">
    <title>Sayi web site</title>
</head>
<body>
    <header>

    </header>
    
    <main>
            <div class="intro">
              <div class="introTexto">
                <h1>
                    SAYI
                </h1>
                <p>
                   - espacio consciente -
                </p>
                 <a href="/home">
                    <button type="button" style="cursor:pointer">
                        INGRESAR
                    </button>
                 </a>
            </div>
            <video muted autoplay loop>
                <source src="\video\videointro.mp4">
            </video>
            <div class="capaVideo"></div>
           </div>
    </main>

    <footer>

    </footer>
</body>
</html>