<%- include("./partials/head.ejs")%>
<a href="https://wa.me/1169790502?text=Me%20gustaría%20saber%20el%20precio%20del%20producto" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
<body>
  <header class="header">
    <div class="headerMain">
        <div class="headerLogoYBuscador">
            <a href="/home">
                <img src="\images\logo.png" alt="sayi" width="100%">
            </a>
            <div class="headerBuscador">
                <form action="">
                    <input type="search" name="busqueda" placeholder="Buscar productos, marcas..." class="buscador">
                    <div class="botonBuscar">
                        <i class="fas fa-search header-brand-search-icon"></i>
                    </div>
                </form>
            </div>
        </div>
        <div class="headerNavLogin">
          <ul type="none">
            <li>
                <%if(usuarioLogeado != null) {%>
                  <a href="/perfil/<%=usuarioLogeado.id%>">Hola! <%=usuarioLogeado.nombre%></a>
                <%}else{%>
                  <a href="/login">ACCEDER
                    <i class="fa-solid fa-user"></i>
                  </a>
                  <%}%>
              </li>
           </ul>
           <%if(usuarioLogeado !=null && usuarioLogeado.admin == true){%>
            <li type="none" style="margin-left: 5%;">
            <a href="/admin" style="color: black;">Panel de administrador</a>
            </li>
        <%}else{%>
       <li type="none" style="margin-left: 5%;">
        <a href="#carrito" style="color: black;">
            CARRITO 
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
       </li>
       <%}%>
        </div>
    </div>
    <nav class="headerNav">
        <div class="headerNavItems">
            <ul type="none" style="border-top: 1px solid gray;">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="javascript:alert('En construcción');">Productos</a>
                </li>
                <li>
                    <a href="/descuentos">Promociones</a>
                </li>
                <li>
                    <a href="/aboutUs">Nosotros</a>
                </li>
                <li>
                  <a href="/contact">Contacto</a>
              </li>
            </ul>
        </div>
    </nav>
</header>

<script type="text/javascript">
  window.addEventListener("scroll", function(){
    var header = document.querySelector("header");
    header.classList.toggle("menu-fixed", window.scrollY>100);
  })
</script>

    <div class="contenedorProduct">
         <div class="contenidoProduct">
            <img src="\images\Granola-Cashem.jpg" alt="">
         </div>

         <div class="contenidoProduct">
            <div>
                <h1>GRANOLA</h1>
            </div>
            <div>
                <h2>precio</h2>
            </div>

            <div>
                <h2>Stock</h2>
            </div>

            <div>
                <button type="submit">Agregar al carrito</button>
            </div>
         </div>
    </div>
    <div style="text-align: center;">
        <h3>descripcion</h3>
    </div>

    <%- include("./partials/footer.ejs")%>
</body>
</html>