<%- include("./partials/head.ejs")%>
<a href="https://wa.me/1169790502?text=Me%20gustaría%20saber%20el%20precio%20del%20producto" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
<body>

    <header class="header">
        <div class="headerMain">
            <div class="headerLogoYBuscador">
                <a href="/home">
                    <img src="\images\logo.png" alt="sayi" width="100%">
                </a>
                <div class="headerBuscador">
                    <form action="">
                        <input type="search" name="busqueda" placeholder="Buscar productos, marcas..." class="buscador">
                        <div class="botonBuscar">
                            <i class="fas fa-search header-brand-search-icon"></i>
                        </div>
                    </form>
                </div>
            </div>
            <div class="headerNavLogin">
                <ul type="none">
                  <li>
                      <a href="/login">ACCEDER 
                        <i class="fa-solid fa-user"></i>
                      </a>
                  </li>
                 </ul>
                 <li type="none" style="margin-left: 5%;">
                  <a href="javascript:alert('En construcción');" style="color: black;">
                      CARRITO 
                      <i class="fa-solid fa-cart-shopping"></i>
                  </a>
                 </li>
              </div>
        </div>
        <nav class="headerNav">
            <div class="headerNavItems">
                <ul type="none" style="border-top: 1px solid gray; margin-bottom: 0px;">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Market</button>
                            <div class="dropdown-content">
                                <%let nuevo=[];%>
                                <%let bandera=false;%>
                                <%for(let i=0; i < productos.length; i++){%>
                                    <%for(let x=0; x < nuevo.length; x++){%>
                                        <%if(productos[i].idcategoria === nuevo[x]){%>
                                            <%bandera=true%>
                                        <%}else{%>
                                            <%bandera=false%>
                                        <%}%>
                                    <%}%>
                                 <%if(bandera==false){%>
                                        <%nuevo.push(productos[i].idcategoria)%>
                                 <%}%>
                                <%}%>
                                <%let ordenado=nuevo.sort()%>
                                <%for(let i=0; i < ordenado.length; i++){%>
                                    <a href="/market/<%=ordenado[i]%>"><%=ordenado[i]%></a>
                                <%}%>
                            </div>
                          </div>
                    </li>
                    <li>
                        <a href="/descuentos">Promociones</a>
                    </li>
                    <li>
                        <a href="/aboutUs">Nosotros</a>
                    </li>
                    <li style="margin-right: 0px;">
                      <a href="/contact">Contacto</a>
                  </li>
                </ul>
            </div>
        </nav>
    </header>
<main>

  <form class="formulario" style="text-align: center;" action="/user" method="POST" enctype="multipart/form-data">
    

    <h1>Registrate</h1>

    <%if(buscarEmail){%>
        <div class="errores">
            <ul>
                <li type="none" style="color: red; margin-top: 10px;">El email ingresado ya tiene asociada una cuenta</li>
            </ul>
        </div>
        <%}%>
     <div class="contenedor">
        <div class="input-contenedor">
             <i class="fas fa-user icon"></i>
             <input type="text" placeholder="Nombre" name="nombre" required>
         
        </div>

        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Apellido" name="apellido" required>
        
       </div>
         
        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="email" placeholder="Correo Electronico" name="email" required>
         
        </div>
         
        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Contrasenia" name="contrasenia" required>
        </div>

        <div class="input-contenedor">
                 <i class="fa-solid fa-image" style="color: gray;"></i>
                 <input type="file" placeholder="Imagen de perfil" name="img" id="img">
        </div>

         <input type="submit" value="Registrate" class="button">

         <p style="font-size: small; margin: 2%;">Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         
         <p>¿Ya tienes una cuenta?<a class="link" href="/login"> Iniciar Sesion</a></p>
     </div>
    </form>
</main>
<%- include("./partials/footer.ejs")%>
</body>
</html>