<footer>
    <div class="footer">
        <div class="footerLogo">
        <a href="/home">
        <img src="\images\logo.png" alt="FedeFlix" width="20%">
        </a>
        </div>
        <div class="footerText">
            <p>2023 © FedeFlix | Todos los derechos reservados | Creado por Federico Aragona</p>
        </div>
    </div>
</footer>