<footer>
    <div class="footer">

        <div class="footerLogo">
            <a href="/home">
            <img src="\images\logo.png" alt="sayi" width="50%" style="margin-left: 47px;">
            </a>
        </div>

        <div class="foooterEnlaces">
          <div style="margin-right: 10px;">
            <p>✆ +54 01169790502</p>
          </div>
            <p>|</p>
          <div style="margin-left: 10px;">
            <a href="/faq">Preguntas frecuentes</a>
          </div>
        </div>

        <div>
          <p>2022 © SAYI | Todos los derechos reservados | Created by grupo 4</p>
        </div>
    </div>
</footer>