<footer>
    <div class="footer">
        <div class="footerContenido">
          <div> 
            <a href="/home">
            <img src="\images\logo.png" alt="sayi" width="50%" style="margin-left: 47px;">
            </a>
          </div>
          <p>2022 © SAYI | Todos los derechos reservados | Creado por Grupo 4</p>
        </div>
    </div>
</footer>