<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="\css\register.css">
    <link rel="stylesheet" href="\css\intro.css">
    <script src="https://kit.fontawesome.com/c3d638413c.js" crossorigin="anonymous"></script>
    <link rel="icon" href="\images\logo.png">
    <title>Sayi web site</title>
</head>
<a href="https://wa.me/1169790502?text=Me%20gustaría%20saber%20el%20precio%20del%20producto" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>